<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/home.css">
  <link
        href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alfa+Slab+One&family=Montserrat:wght@600;700;800;900&family=Mouse+Memoirs&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;300;500&display=swap"
        rel="stylesheet">
</head>

<body>
  <div class="tabsBox">
    <div class="box">
      <div id="loginDiv" class="login">
        <div class="headings">
          <div class="heading"><img src="/Untitled-2.png" alt="" height="200"></div>
          <div class="subHeading">Here we go again!</div>
        </div>
        <form action="/" method="POST">
          <div class="container">
            <input onclick="labelMove()" class="email" type="text" id="email" name="Username">
            <label id="Elabel" class="label">Username</label>
          </div>
          <div class="container">
            <input type="text" id="password" name="room">
            <label>Room No.</label>
          </div>
          <input type="submit" class="sign-in" value="Join">
        </form>
      </div>
    </div>
  </div>
</body>
</html>